armadoras/WsOrdenamiento/WebContent/wsdl/WsOrdenamientoPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by the Oracle JDeveloper Web Services WSDL Generator-->
<!--Date Created: Wed Aug 22 16:40:07 GMT 2012-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://srclon/WsOrdenamiento.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://srclon/WsOrdenamiento.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsOrdenamiento" targetNamespace="http://srclon/WsOrdenamiento.wsdl">
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://srclon/WsOrdenamiento.xsd">
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaRecaudadoras_Out">
            <all>
               <element name="precaudadorasOut" type="ns1:srclon_RecaudadorasNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_RecaudadorasNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_RecaudadoraTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_RecaudadoraTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_RecaudadoraTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_RecaudadoraTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaCombustibles_Out">
            <all>
               <element name="pcombustiblesOut" type="ns1:srclon_CombustiblesVehiculosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_CombustiblesVehiculosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_CombustibleVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_CombustibleVehiculoTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_CombustibleVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_CombustibleVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaSublineas_Out">
            <all>
               <element name="psublineasOut" type="ns1:srclon_SublineasVehiculosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_SublineasVehiculosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_SublineaVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_SublineaVehiculoTyUser">
            <all>
               <element name="cveMarca" type="string"/>
               <element name="cveLinea" type="string"/>
               <element name="cveSublinea" type="string"/>
               <element name="modelo" type="decimal"/>
               <element name="origen" type="string"/>
               <element name="claseVehiculo" type="string"/>
               <element name="tipoVehiculo" type="decimal"/>
               <element name="descripcion" type="string"/>
               <element name="puertas" type="decimal"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_SublineaVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_SublineaVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaLineas_Out">
            <all>
               <element name="plineasOut" type="ns1:srclon_LineasVehiculosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_LineasVehiculosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_LineaVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_LineaVehiculoTyUser">
            <all>
               <element name="cveMarca" type="string"/>
               <element name="cveLinea" type="string"/>
               <element name="modelo" type="decimal"/>
               <element name="origen" type="string"/>
               <element name="claseVehiculo" type="string"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_LineaVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_LineaVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaColonias_Out">
            <all>
               <element name="pcoloniasOut" type="ns1:srclon_ColoniasNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ColoniasNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_ColoniaTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ColoniaTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_ColoniaTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_ColoniaTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_abreviaDirecciones_Out">
            <all>
               <element name="pabreviaturasOut" type="ns1:srclon_AbreviaturasNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_AbreviaturasNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_AbreviaturaTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_AbreviaturaTyUser">
            <all>
               <element name="clave" type="string"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_AbreviaturaTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_AbreviaturaTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaLocalidades_Out">
            <all>
               <element name="plocalidadesOut" type="ns1:srclon_LocalidadesNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_LocalidadesNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_LocalidadTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_LocalidadTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_LocalidadTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_LocalidadTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaServicios_Out">
            <all>
               <element name="pserviciosOut" type="ns1:srclon_ServiciosVehiculosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ServiciosVehiculosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_ServicioVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ServicioVehiculoTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_ServicioVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_ServicioVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaUsos_Out">
            <all>
               <element name="pusosOut" type="ns1:srclon_UsosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_UsosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_UsoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_UsoTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_UsoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_UsoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaTipos_Out">
            <all>
               <element name="ptiposvehiculoOut" type="ns1:srclon_TiposVehiculoNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_TiposVehiculoNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_TipoVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_TipoVehiculoTyUser">
            <all>
               <element name="clave" type="decimal"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_TipoVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_TipoVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaMunicipios_Out">
            <all>
               <element name="pmunicipiosOut" type="ns1:srclon_MunicipiosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_MunicipiosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_MunicipiosTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_MunicipiosTyUser">
            <all>
               <element name="clave" type="string"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_MunicipiosTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_MunicipiosTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaMarcas_Out">
            <all>
               <element name="pmarcasOut" type="ns1:srclon_MarcasVehiculosNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_MarcasVehiculosNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_MarcaVehiculoTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_MarcaVehiculoTyUser">
            <all>
               <element name="clave" type="string"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_MarcaVehiculoTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_MarcaVehiculoTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_WsOrdenamientoImpl_buscaClases_Out">
            <all>
               <element name="pclasesOut" type="ns1:srclon_ClasesNt"/>
               <element name="presultadoOut" type="decimal"/>
               <element name="pmensajeOut" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ClasesNt">
            <all>
               <element name="array" type="ns1:ArrayOfsrclon_ClaseTyUser"/>
            </all>
         </complexType>
         <complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="srclon" name="srclon_ClaseTyUser">
            <all>
               <element name="clave" type="string"/>
               <element name="descripcion" type="string"/>
            </all>
         </complexType>
         <complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfsrclon_ClaseTyUser">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:srclon_ClaseTyUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </types>
   <message name="buscaRecaudadoras0Request">
      <part name="pCveRecaudadora" type="xsd:decimal"/>
   </message>
   <message name="buscaRecaudadoras0Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaRecaudadoras_Out"/>
   </message>
   <message name="buscaCombustibles1Request">
      <part name="pCveCombustible" type="xsd:decimal"/>
   </message>
   <message name="buscaCombustibles1Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaCombustibles_Out"/>
   </message>
   <message name="buscaSublineas2Request">
      <part name="pCveMarca" type="xsd:string"/>
      <part name="pCveLinea" type="xsd:string"/>
      <part name="pCveSublinea" type="xsd:string"/>
      <part name="pCveModelo" type="xsd:decimal"/>
      <part name="pCveOrigen" type="xsd:string"/>
      <part name="pCveClase" type="xsd:string"/>
      <part name="pCveTipo" type="xsd:decimal"/>
   </message>
   <message name="buscaSublineas2Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaSublineas_Out"/>
   </message>
   <message name="buscaLineas3Request">
      <part name="pCveMarca" type="xsd:string"/>
      <part name="pCveLinea" type="xsd:string"/>
      <part name="pCveModelo" type="xsd:decimal"/>
      <part name="pCveOrigen" type="xsd:string"/>
      <part name="pCveClase" type="xsd:string"/>
   </message>
   <message name="buscaLineas3Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaLineas_Out"/>
   </message>
   <message name="buscaColonias4Request">
      <part name="pCveMunicipio" type="xsd:decimal"/>
      <part name="pCveLocalidad" type="xsd:decimal"/>
      <part name="pCveColonia" type="xsd:decimal"/>
   </message>
   <message name="buscaColonias4Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaColonias_Out"/>
   </message>
   <message name="abreviaDirecciones5Request">
      <part name="pCveAbrev" type="xsd:string"/>
   </message>
   <message name="abreviaDirecciones5Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_abreviaDirecciones_Out"/>
   </message>
   <message name="buscaLocalidades6Request">
      <part name="pCveMunicipio" type="xsd:decimal"/>
      <part name="pCveLocalidad" type="xsd:decimal"/>
   </message>
   <message name="buscaLocalidades6Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaLocalidades_Out"/>
   </message>
   <message name="buscaServicios7Request">
      <part name="pCveServicio" type="xsd:decimal"/>
   </message>
   <message name="buscaServicios7Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaServicios_Out"/>
   </message>
   <message name="buscaUsos8Request">
      <part name="pCveUso" type="xsd:decimal"/>
   </message>
   <message name="buscaUsos8Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaUsos_Out"/>
   </message>
   <message name="buscaTipos9Request">
      <part name="pCveClase" type="xsd:string"/>
      <part name="pCveTipo" type="xsd:decimal"/>
   </message>
   <message name="buscaTipos9Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaTipos_Out"/>
   </message>
   <message name="buscaMunicipios10Request">
      <part name="pCveMunicipio" type="xsd:decimal"/>
   </message>
   <message name="buscaMunicipios10Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaMunicipios_Out"/>
   </message>
   <message name="buscaMarcas11Request">
      <part name="pCveMarca" type="xsd:string"/>
   </message>
   <message name="buscaMarcas11Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaMarcas_Out"/>
   </message>
   <message name="buscaClases12Request">
      <part name="pCveClase" type="xsd:string"/>
   </message>
   <message name="buscaClases12Response">
      <part name="return" type="ns1:srclon_WsOrdenamientoImpl_buscaClases_Out"/>
   </message>
   <portType name="WsOrdenamientoPortType">
      <operation name="buscaRecaudadoras">
         <input message="tns:buscaRecaudadoras0Request" name="buscaRecaudadoras0Request"/>
         <output message="tns:buscaRecaudadoras0Response" name="buscaRecaudadoras0Response"/>
      </operation>
      <operation name="buscaCombustibles">
         <input message="tns:buscaCombustibles1Request" name="buscaCombustibles1Request"/>
         <output message="tns:buscaCombustibles1Response" name="buscaCombustibles1Response"/>
      </operation>
      <operation name="buscaSublineas">
         <input message="tns:buscaSublineas2Request" name="buscaSublineas2Request"/>
         <output message="tns:buscaSublineas2Response" name="buscaSublineas2Response"/>
      </operation>
      <operation name="buscaLineas">
         <input message="tns:buscaLineas3Request" name="buscaLineas3Request"/>
         <output message="tns:buscaLineas3Response" name="buscaLineas3Response"/>
      </operation>
      <operation name="buscaColonias">
         <input message="tns:buscaColonias4Request" name="buscaColonias4Request"/>
         <output message="tns:buscaColonias4Response" name="buscaColonias4Response"/>
      </operation>
      <operation name="abreviaDirecciones">
         <input message="tns:abreviaDirecciones5Request" name="abreviaDirecciones5Request"/>
         <output message="tns:abreviaDirecciones5Response" name="abreviaDirecciones5Response"/>
      </operation>
      <operation name="buscaLocalidades">
         <input message="tns:buscaLocalidades6Request" name="buscaLocalidades6Request"/>
         <output message="tns:buscaLocalidades6Response" name="buscaLocalidades6Response"/>
      </operation>
      <operation name="buscaServicios">
         <input message="tns:buscaServicios7Request" name="buscaServicios7Request"/>
         <output message="tns:buscaServicios7Response" name="buscaServicios7Response"/>
      </operation>
      <operation name="buscaUsos">
         <input message="tns:buscaUsos8Request" name="buscaUsos8Request"/>
         <output message="tns:buscaUsos8Response" name="buscaUsos8Response"/>
      </operation>
      <operation name="buscaTipos">
         <input message="tns:buscaTipos9Request" name="buscaTipos9Request"/>
         <output message="tns:buscaTipos9Response" name="buscaTipos9Response"/>
      </operation>
      <operation name="buscaMunicipios">
         <input message="tns:buscaMunicipios10Request" name="buscaMunicipios10Request"/>
         <output message="tns:buscaMunicipios10Response" name="buscaMunicipios10Response"/>
      </operation>
      <operation name="buscaMarcas">
         <input message="tns:buscaMarcas11Request" name="buscaMarcas11Request"/>
         <output message="tns:buscaMarcas11Response" name="buscaMarcas11Response"/>
      </operation>
      <operation name="buscaClases">
         <input message="tns:buscaClases12Request" name="buscaClases12Request"/>
         <output message="tns:buscaClases12Response" name="buscaClases12Response"/>
      </operation>
   </portType>
   <binding name="WsOrdenamientoBinding" type="tns:WsOrdenamientoPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="buscaRecaudadoras">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaRecaudadoras0Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaRecaudadoras0Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaCombustibles">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaCombustibles1Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaCombustibles1Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaSublineas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaSublineas2Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaSublineas2Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaLineas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaLineas3Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaLineas3Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaColonias">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaColonias4Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaColonias4Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="abreviaDirecciones">
         <soap:operation soapAction="" style="rpc"/>
         <input name="abreviaDirecciones5Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="abreviaDirecciones5Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaLocalidades">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaLocalidades6Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaLocalidades6Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaServicios">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaServicios7Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaServicios7Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaUsos">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaUsos8Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaUsos8Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaTipos">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaTipos9Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaTipos9Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaMunicipios">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaMunicipios10Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaMunicipios10Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaMarcas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaMarcas11Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaMarcas11Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
      <operation name="buscaClases">
         <soap:operation soapAction="" style="rpc"/>
         <input name="buscaClases12Request">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </input>
         <output name="buscaClases12Response">
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WsOrdenamiento" use="encoded"/>
         </output>
      </operation>
   </binding>
   <service name="WsOrdenamiento">
      <port binding="tns:WsOrdenamientoBinding" name="WsOrdenamientoPort">
         <soap:address location="http://localhost:8083/WsOrdenamiento/services/WsOrdenamientoPort"/>
      </port>
   </service>
</definitions>
